/* Geral */
html{
    font-family: 'Montserrat', sans-serif;
}
#app{
    display: flex;
    flex-direction: column;
}

.panel{
    margin:10px;
    padding:20px;
    box-shadow:0 2px rgba(0, 0, 0, 0.151);
}

/* Área dos pontos */
.scores{
    display: flex;
}
.score{
    flex: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.score h1{
    font-weight: 300;
    font-size: 1.6rem;

}

.life-bar{
    width: 80%;
    height: 20px;
    border: 1px solid #aaa;
}

.life-bar .life{
    display: flex;
    justify-content: center;
    height: 100%;
    /* width: 50%; */
    background-color: green;
}

.life-bar .life.danger{
    background-color: red;
}

/* Área do resultado */
.result{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 600;
}

.result .win{
    color: green;
}

.result .lose{
    color: red;
}

/* Área dos botões */
.buttons{
    display: flex;
    justify-content: center;
}
.btn{
    padding: 5px 10px;
    margin: 0px 10px;
    border-radius: 7px;
    text-transform: uppercase;
    font-size: 1.1rem
}
.new-game{
    background-color: #444594e5;
    color: white;
}
.attack{
    background-color: red;
    color: white;
}

.especial-attack{
    background-color: orange;
    color: black;
}
.heal{
    background-color: goldenrod;
    color: white;
}
.give-up{
    background-color: gray;
    color: black;
}
/* Área dos logs */
.logs ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.logs ul li{
    display: flex;
    justify-content: center;
    margin: 4px 0px;
    padding: 3px 0px;
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
    border-radius: 3px;
}

.player{
    background-color: rgba(200, 155, 243, 0.603);
    color: black;
}

.monster{
    background-color: rgba(236, 0, 0, 0.466);
    color: white;
}